* {
    margin: 0;
    padding: 0;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    color: #FFFFFF;
}

.font-standart {
    line-height: 100%;
    letter-spacing: 0.5px;
}